h1 {
  color: blue;
  border-style: double;
  border-radius: 5px;
  border-color: red;
  font-size: 5em;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
  font-family: Impact;
  font-size: 3em;
  line-height: 15px;

}

p {
  font-family: sans-serif;
  text-align: center;
}

ul {
  font-size: 25px;

}
img {
  height: 25%;
  width: 25%;
}

div {
  background-color: #ff9900;
}
